* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy ☞;
}

::-webkit-scrollbar{
    display: none;
}
html,
body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("milad-fakurian-u8Jn2rzYIps-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    
}

.container {
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px;
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading{
    display: flex;
    align-items: center;
    gap: 10px;
}
.heading h1{
    color: #2C5364;
    font-size: 1.6rem;
}
.search{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}
#input-bar{
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(227, 242, 255);
    border-radius: 50px;
    width: 80%;
    padding: 10px;
}

#btn{
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #742ecf;
    color: white;
    width: 70px;
    cursor: pointer;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    user-select: none;
    padding: 12px 8px 12px 30px;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    left: 0;
}

ul li.check{
    text-decoration: line-through;
    color: #555;
}

ul li.check::before{
    background-image: url("check.png");
    background-size: cover;
    background-position: center;
}

ul li span{
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #555;
    transition: all .3s;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
ul li span:hover{
    color: white;
    background-color: #6e6c6c;
}


@media (max-width:768px) {
    .container{
        width: 80vw;
    }
    #input-bar{
        width: 100%;
    }
    
}